<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EstoqueAtalaia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<style>
    * {
        transition: all 0.3s ease-in-out;
    }

    .container {
        clear: both;
        overflow: auto;
    }

    nav {
        float: right;
    }

    .logo img {
        float: left;
    }

    ul li {
        display: inline-block;
        padding: 10px;
        font-size: 20px;
        font-family: raleway;
    }

        ul li:hover {
            color: orange;
        }
</style>
<body>
    <header style="background: black;">
        <div class="container">
            <div class="logo" style="background: black;">
                <img src="~/img/IMG-20190314-WA0049.jpg" alt="" width="100" />
            </div>
            <nav style="background: black;">
                <ul>
                    <li style="color:white;">Estoque</li>
                    <li style="color:white;">Saida</li>
                    <li style="color:white;">Entrada</li>
                    <li style="color:white;">Clientes</li>
                </ul>
            </nav>
        </div>
        <hr />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - EstoqueAtalaia - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
